
#section-head{
    background-color: linen;
    padding-left: 70px;
    display: flex;
    top: 0%;
    left: 2%;
    width: 100%;
    
}

p{
    margin-bottom: 0%;
}

#paragrafo-2{
    font-size: 2vw;
    margin-bottom: 0%;
}

#paragrafo-3{
    margin-top: 0%;
    font-size: 1vw;
}

#title{
    background-color: linen;
}

#checkbox{
    margin-left: 200px;
    margin-top: 25px;
    
}

#botao-linguagem{
    background-color: linen;  
    margin-top: .5vw;
    margin-left: 3vw;
    padding: .5vw;
    padding-left: 1.5vw;


    
}

.icone-login{
    width: 40px;
    height: 40px;
    margin-left: 20%;
    margin-bottom: -10px;
}

.login{
    display: flex;
    margin-top: 1.5vw;
    margin-left: 2.5vw;
}

.msg{
    text-align: right;
}


@media (min-width: 992px) {
    #section-head{
        left: 15%;
        
    }
}