
#head{
    background-color: linen;
    padding-left: 50px;
    display: flex;
    top: 0%;
    left: 2%;
    width: 100%;
    
}

p{
    margin-bottom: 0%;
}

#paragrafo-1{
    font-size: 1vw;
}

#paragrafo-2{
    font-size: 1.5vw;
    margin-bottom: 0%;
}

#paragrafo-3{
    margin-top: 0%;
    font-size: 1vw;
}

#checkbox{
    margin-left: 10%;
    margin-top: 1%;
    
}

#botao-linguagem{
    background-color: linen;  
    margin-top: .5vw;
    margin-left: 2vw;
    padding: .5vw;
    padding-left: 1vw;

}

.icone-login{
    width: 40px;
    height: 40px;
    margin-left: 20%;
    margin-bottom: -10px;
}

.login{
    display: flex;
    margin-top: 1.5vw;
    margin-left: 2.5vw;
}

.msg{
    text-align: right;
}


#title{
    margin-left: 13%;
}

.logo{
    display: none;
}

@media (max-width: 992px) {
    #checkbox{
        display: none;
    }
    .login{
        display: none;
    }
    #title{
        display: none;
    }
    #head{
        height: 50px;
        position: fixed;
        z-index: 2;
    }
    .logo{
        height: 50px;
        border-radius: 80%;
        display: flex;
        z-index: 2;
        margin-left: 85%;
    }
}