
.card{
    height: 100%;
    width: 100%;
    left: 25%;
    
    
}

.head{
    background-color: linen;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    font-size: 25px;
}

.card-body{
    overflow: auto;
    height: 460px;
    overflow-y: scroll;    
}


@media (max-width: 992px) {
    .card{
        left: 0px;
        margin-left: 10%;
        margin-bottom: 5%;
    }
}