


section{
    background-color: white;
    left: 282px;
    top: 0%;
    bottom: 0%;
    width: 100%;    
    position: fixed;
    overflow:auto; 
}




.card-detalhes{
    margin-left: 60%;
    margin-top: 10%;
    
}
