

<!-- Barra lateral de navegação-->
<nav class="navbar">
    
    <div class="navbar-botoes" id="style-botoes">
      
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link " href="#">SLACA 2019</a>
        </li>
        
        <img src="assets/imagens/logo.png">

        <li class="nav-item">
          <a class="nav-link " href="#">Apresentação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comitês</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Eixos temáticos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trabalhos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>

    </div>
  
</nav>

<!-- Card lateral de informações-->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Detalhes</h5>
          <p class="card-text">Tipo de apresentação: Poster Eixo temático: Alimentação e saúde(AS) Palavras-chaves Alimentos 
            funcionais, alimentação escolar. Autores: Galileo Galile Berto Longe de Morretes Isaac Newton Cesar Lattes Stephen Hawking
            </p>
        </div>
      </div>
    
    </div>
  </div>
</div>
