
.sidebar {
    background-color: white;
    width: 15%;
    padding-bottom: 100%;
    position: fixed;
    border-style: solid;
    border-right-width: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-color: lightgray;
    z-index: 2;
    
}

.container-fluid{
    padding: 0px;  
    background-color: white;  
}

.nav-item-1{
    background-color: darkorange;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 5%;
}

.nav-link-1{
    font-size: 2vw;
    color: white;
    text-decoration: inherit;
    font-weight: bold;
    
}

.nav-item{
    background-color: white;
    margin-bottom: 3px;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    border-color: lightgray;
    
}

.nav-link{
    color: grey;
    padding-left: 25px;
}


a:hover{
    background-color: linen;
    padding-left: 12%;
    
}

label[for="btn-sidebar"]{
    padding: 5px;
    background-color: darkorange;
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    
}

#btn-sidebar{
    display: none;
}

@media (max-width: 992px) {
    label[for="btn-sidebar"]{
        display: block;
        position: fixed;
        z-index: 2;
    }
    #btn-sidebar:checked ~ .sidebar{
        margin-left: 0;
    }

    .sidebar{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
        
    }
    
}
