
.card{
    margin: auto;
    margin-top: 3%;
    margin-left: 3%;
    width: 89%;
    height: 250px;
    margin-bottom: 5%;
    
}

.head{
    background-color: linen;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    font-size: 25px;
    
}


.card-body{
    overflow: auto;
    padding-top: 0%;
    height: 525px;
    overflow-y: scroll;
    
}
